body.page-template-homepage {

	section#hero {
		@include aspect-ratio(16, 6);

		@include mobile-landscape {
			max-height: 600px;
		}
	}

	section#main {
		padding: 30px 0;
		background: $ebb;

		.wrapper {
			display: grid;
			gap: 30px 50px;
			grid-template-columns: repeat(1, 1fr);

			@include mobile-landscape {
				grid-template-columns: repeat(2, 1fr);
			}

			@include tablet-portrait {
				grid-template-columns: repeat(3, 1fr);
			}
		}

		.inset {
			grid-column: 1/-1;
			@include aspect-ratio(16, 6);
		}

		.photo {
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.info {

			@include mobile-landscape {
				grid-column: 1/-1;
			}

			@include tablet-portrait {
				grid-column: 1/2;
			}

			.headline {
				padding-bottom: 10px;

				h2 {
					color: $burgundy;
					font-size: 1.5rem;
					line-height: 1.125em;

					@include tablet-portrait {
						font-size: 2.25rem;
					}
				}
			}

			.copy {

				p {
					font-size: 1.125rem;
					line-height: 1.5em;

					@include mobile-landscape {
						font-size: 1.375rem;
					}

					& + p {
						padding-top: 20px;
					}
				}
			}
		}

		.hours,
		.location {

			.photo {
				@include aspect-ratio(16, 9);
			}

			.details {
				padding-top: 20px;

				h3 {
					text-align: center;
					color: $ebb;
					background: $burgundy;
					padding: 17px 0 15px 0;
					text-transform: uppercase;
					font-size: 0.875rem;
					letter-spacing: 0.15em;
				}

				p {
					font-weight: 100;
					padding-top: 10px;
					text-align: center;
					line-height: 1.5em;
					font-size: 1.25rem;
				}

			}


		}
	}
}