body.page-template-locations {

	section.standard {
		padding: 50px 0 100px 0;

		.wrapper {
			max-width: 800px;
		}

		.section-header {
			padding-bottom: 50px;

		}

		.location {
			@include tablet-portrait {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;

				& > * {
					width: calc(50% - 25px);
				}
			}

			& + .location {
				margin-top: 50px;
				border-top: 1px solid $ebb;
				padding-top: 50px;
			}

			.info {
				padding-top: 25px;

				@include tablet-portrait {
					padding-top: 0;
				}

				.headline {
					h3 {
						font-size: 1.5rem;
						font-weight: 500;

						a {
							color: $burgundy;

							&:hover {
								text-decoration: underline;
							}
						}
					}					
				}

				.copy {
					padding-top: 20px;

					p {
						font-size: 1.125rem;
						line-height: 1.5em;
					}
				}

				.cta {
					padding-top: 40px;

					.btn {
						display: inline-block;
						border: 2px solid $burgundy;
						color: $burgundy;
						border-radius: 5px;
						text-transform: uppercase;
						padding: 10px 20px 10px;
						font-weight: 600;
						font-size: 0.875rem;
						white-space: nowrap;

						&:hover {
							background: $burgundy;
							color: $ebb;
						}
					}					
				}
			}
		}
	}
}