body {
	background: $white;
}

.section-header {
	padding: 40px 0 40px 0;
	text-align: center;

	h1 {
		font-size: 1.5rem;
		color: $burgundy;
		font-weight: 500;


		&:after {
			content: '';
			display: block;
			width: 30px;
			height: 2px;
			background: $burgundy;
			margin: 20px auto 0 auto;
		}
		
		@include tablet-portrait {
			font-size: 2.25em;
		}
	}
}

