/* Colors
----------------------------------*/
$white: #fff;
$off-white: #fafafa;
$light-gray: #d5d5d5;
$black: #000;
$slate: #2D2A32;

$burgundy: #51171D;
$cocoa: #21151B;
$cedar: #2F1313;
$putty: #E5CB91;
$ebb: #E8E3DF;


/* Typography
----------------------------------*/
$brandon: brandon-grotesque, sans-serif;

